<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.info("ยินดีต้อนรับ สู่วงการชานมไข่มุก", {
  autoClose: 1500,
  position:toast.POSITION.TOP_CENTER
})

const notify = () => {
  toast.success("Wow so easy !", {
    autoClose: 2000,
  }); // ToastOptions
  return { notify };
}

</script>

<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://www.thaihealth.or.th/data/content/2019/07/49538/cms/newscms_thaihealth_c_efhjnpquz159.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">ชานมไข่มุกแบบดังเดิม</h5>
            <p class="card-text">ต้นกำเนิด "ชานมไข่มุก" แก้วแรกในไต้หวัน 
              ชาไข่มุกเริ่มมีมาในช่วงปี ค.ศ. 1983-1988 มีข้อมูลพบว่าในสมัยนั้นมีร้านน้ำชาที่ชื่อ "ชุนฉุ่ยถัง" (Chun Shui Tang)ในเมืองไถจง ไต้หวัน น่าจะเป็นร้านแรกที่คิดค้นเมนู "ชานมไข่มุก" ขึ้นมาในปีดังกล่าว
            </p>
            <a href="#" class="btn btn-primary btn-sm" @click="notify">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}
</style>
